* {
  font-weight: 300;
}

body {
  text-align: center;
  font-family: raleway, sans-serif;
  background: url("../img/boats.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 1000px;
  background-position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 99%;

}

.form-label {
  font-size: 2em;
  margin-top: .5em;
  color: steelblue;
}

.user-listing-container {
  position: relative;
  /*border: 1px solid slategrey;*/
  padding: 1em;
  background: rgba(255,255,255,.5)
}

.user-listing-container + .user-listing-container {
  margin-top: .35em;
}

.user-listing-email {
  float: right;
  text-decoration: none;
  color: steelblue;
  transition: all .1s;
}

.user-listing-email:hover {
  color: skyblue;
}

.user-listing-email:active {
  color: steelblue;
}

.user-listing-name {
  text-transform: capitalize;
}

.delete {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: none;
  -webkit-transition: all .3s;
}

.delete-actual {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  padding: none;
}

.delete-actual:hover {
  color: crimson;
}

.delete-actual:active {
  font-weight: bold;
}

.delete-actual:focus {
  outline: none;
}

.delete-widget {
  margin-left: 16px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: all .15s;
  background: rgba(178, 34, 34, .85);
  height: 48px;
  vertical-align: top;
  text-align: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.delete-widget-text {
  display: block;
  font-size: .75em;
  padding: .5em .5em .5em .5em;
}

.new-user-form,
.user-list {
  display: inline-block;
  padding: 10px;
  text-align: left;
  border: 2px solid rgba(0, 0, 0, .35);
}

.main-toolbar {
  height: 120px;
  width: 91.5%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.new-user-form {
  width: 20%;
  height: 366px;
  text-align: center;
  margin-right: 1.5%;
}

.user-list {
  width: 100%;
  vertical-align: top;
  height: 366px;
  position: relative;
  overflow: scroll;
}

.no-users {
  font-size: 3.5em;
  color: rgba(0, 0, 0, .1);
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all .25s;
}

.bonus {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 70%;
  text-align: center;
}

.tool-container {
  position: relative;
  top: 50%;
  margin-right: -2em;
}

.tool {
  margin-left: 1em;
}

.user-exists {
  color: firebrick;
  font-size: .75em;
  margin-bottom: 1em;
  margin-top: 1em;
  opacity: 0;
  transition: all .25s;
}

.timestamp {
  font-size: .6em;
  color: rgba(0, 0, 0, .45);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.edit-modal-greyout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  transition: all .25s;
}

.edit-modal-content {
  text-align: center;
  background: rgba(70, 130, 180, .6);
  border: 2px solid rgba(255, 255, 255, .5);
  height: 400px;
  width: 300px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.edit-modal-title {
  font-size: 1.5em;
  display: block;
  padding: .75em;
  color: rgba(255, 255, 255, .65);
}

.edit-modal-user-name {
  text-transform: capitalize;
  display: block;
  color: rgba(178, 34, 34, .65);
  font-size: 1.25em;
  margin-bottom: .75em;
}

.visible {
  visibility: visible;
  opacity: 1;
}
