/* TODO: Style your site */

body {
  text-align: center;
  font-family: raleway, sans-serif;
  background: url("../img/boats.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /*width: 100vw;*/
  background-position: fixed;

}

.new-user-input {
  font-family: raleway;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 2em;
  font-size: 1em;
  height: 2.5em;
  width: 95%;
  background: none;
  border: 1px solid rgba(0, 0, 0, .35);
  text-align: center;
  transition: all .15s;
}

.new-user-input:hover {
  border: 1px solid steelblue;
}

.new-user-input:focus {
  outline: none;
  border: 2px solid steelblue;
  }

.form-label {
  font-size: 2em;
  font-weight: bold;
  margin-top: .5em;
  color: steelblue;
}

.form-label + .new-user-input {
  margin-top: 1em;
}

.user-listing-container {
  position: relative;
  /*border: 1px solid slategrey;*/
  padding: 1em;
  background: rgba(255,255,255,.5)
  }

.user-listing-container + .user-listing-container {
  margin-top: .35em;
}

.user-listing-email {
  float: right;
  text-decoration: none;
  color: steelblue;
  transition: all .1s;
}

.user-listing-email:hover {
  color: skyblue;
}

.user-listing-email:active {
  color: steelblue;
}

.user-listing-name {
  text-transform: capitalize;
}

.delete {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: none;
  -webkit-transition: all .3s;
}

.delete-actual {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  padding: none;
}

.delete-actual:hover {
  color: crimson;
}

.delete-actual:active {
  font-weight: bold;
}

.delete-actual:focus {
  outline: none;
}

.delete-widget {
  margin-left: 16px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: all .15s;
  background: rgba(178, 34, 34, .75);
  height: 48px;
  vertical-align: top;
  text-align: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.delete-widget-text {
  display: block;
  font-size: .75em;
  padding: .5em .5em .5em .5em;
}

.delete-widget-button {
  font-family: raleway;
  font-size: .75em;
  background: none;
  border: 1px solid white;
  color:white;
  transition: .15s;
}

.delete-widget-button + .delete-widget-button {
  margin-left: 1em;
}

.delete-widget-button:hover {
  background: white;
  color: firebrick;
}

.new-user-form,
.user-list {
  display: inline-block;
  padding: 10px;
  text-align: left;
  border: 2px solid rgba(0, 0, 0, .35);
}

.main-toolbar {
  height: 120px;
  width: 91.5%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.new-user-form {
  width: 20%;
  height: 366px;
  text-align: center;
  margin-right: 1.5%;
}

.user-list {
  width: 100%;
  vertical-align: top;
  height: 366px;
  position: relative;
  overflow: scroll;
}

.submit-button {
  font-family: raleway;
  position: relative;
  background: none;
  font-size: 1.5em;
  padding: .5em;
  border: none;
  border-radius: .6em;
  border: 1px solid steelBlue;
  color: steelblue;
  transition: all .1s;
  margin-bottom: .5em;
}

.submit-button:before {
  content: '';
  position: absolute;
  left: 5%;
  top: 7.5%;
  border: 1px dotted steelblue;
  border-radius: .45em;
  height: 85%;
  width: 90%;
  z-index: 10;
  box-sizing: border-box;
}

.submit-button:hover {
  background: rgba(255, 255, 255, .35);
}

.submit-button:focus {
  outline: none;
  background: rgba(255, 255, 255, .35);
}

.submit-button:active {
  background: white;
}

.no-users {
  font-size: 3.5em;
  color: rgba(0, 0, 0, .1);
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all .25s;
}

.bonus {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 70%;
  text-align: center;
}

.sort-button {
  font-family: raleway;
  position: relative;
  background: steelblue;
  font-size: 1.5em;
  height: 1.75em;
  border: none;
  border-radius: .6em;
  color: white;
  transition: all .15s;
  margin-right: .25em;
}

.sort-button + .sort-button {
  margin-right: 1em;
}

.sort-button:before {
  content: '';
  position: absolute;
  left: 5%;
  top: 7.5%;
  border: 1px dotted white;
  border-radius: .5em;
  height: 85%;
  width: 90%;
  z-index: 10;
  box-sizing: border-box;
}

.sort-button:hover {
  background: skyblue;
}

.sort-button:focus {
  outline: none;
}

.sort-button:active {
  background: steelblue;
}

.tool-container {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.search-bar {
  font-family: raleway;
  box-sizing: border-box;
  font-size: 1em;
  height: 2em;
  width: 10em;
  background: none;
  border: 1px solid rgba(0, 0, 0, .35);
  text-align: center;
  transition: all .15s;
  margin-right: 4em;
}

.search-bar:hover {
  border: 1px solid steelblue;
}

.search-bar:focus {
  outline: none;
  border: 2px solid steelblue;
}

.user-exists {
  color: firebrick;
  font-size: .75em;
  margin-bottom: 1em;
  margin-top: 1em;
  opacity: 0;
  transition: all .25s;
}

.timestamp {
  font-size: .6em;
  color: rgba(0, 0, 0, .35);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.edit-modal-greyout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
}

.edit-modal-content {
  text-align: center;
  background: rgba(70, 130, 180, .5);
  border: 2px solid rgba(255, 255, 255, .5);
  height: 50%;
  width: 30%;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.edit-modal-title {
  font-size: 1.5em;
  display: block;
  padding: 1em;
  color: rgba(255, 255, 255, .5);
}

.edit-modal-user-name {
  display: block;
  color: rgba(178, 34, 34, .5);
  font-size: 1.5em;
  margin-bottom: 1em;
}

.modal-input {
  font-family: raleway;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 2em;
  font-size: 1em;
  height: 2.5em;
  width: 90%;
  background: rgba(70, 130, 180, .5);
  border: 1px solid rgba(0, 0, 0, .35);
  text-align: center;
  transition: all .15s;
}

.edit-button {
  position: absolute;
  left: 20em;
}

.visible {
  visibility: visible;
  opacity: 1;
}
